* {
	box-sizing: border-box;
}

body {
	background-color: rgba(35, 117, 193, 0.8);
	font-family: 'BioRhyme', serif;
}

form.post-display {
	width: 90%;
	display: block;
	position: relative;
}

ul {
	list-style: none;
}
h1 {
	text-align: center;
	color: rgb(31, 135, 88);
}
div.registration-form > div {
	width: 50%;
	margin: 0 auto;
}
div.registration-form > div > input {
	width: 100%;
	margin: 0 auto;
}
form {
	display: inline-block;
	text-align: center;
}
input {
	font-size: 1.5em;
}
