* {
	box-sizing: border-box;
}

body {
	background-color: rgba(35, 117, 193, 0.8);
	font-family: 'BioRhyme', serif;
}

form.post-display {
	width: 90%;
	display: block;
	position: relative;
}

ul {
	list-style: none;
}
h1 {
	text-align: center;
	color: rgb(31, 135, 88);
}
div.registration-form > div {
	width: 50%;
	margin: 0 auto;
}
div.registration-form > div > input {
	width: 100%;
	margin: 0 auto;
}
div.login-form > div {
	width: 50%;
	margin: 20px 10px 20px 20px;
}
div.login-form > div > input {
	width: 100%;
	padding: 15px 20px;
	margin: 0 auto;
}
form {
	display: inline-block;
	text-align: center;
}
input {
	font-size: 1.5em;
}
.btn reg {
	width: 3rem;
	height: 1.8rem;
	box-sizing: border-box;
	background-color: rgb(70, 82, 138);
}
#login {
	position: absolute;
	top: 1rem;
	right: 7.7rem;
}
#register {
	position: absolute;
	top: 1rem;
	right: 2rem;
}
#sign-out {
	position: absolute;
	top: 1rem;
	right: 2rem;
}
