* {
	box-sizing: border-box;
}

body {
	background-color: rgba(35, 117, 193, 0.8);
	font-family: 'BioRhyme', serif;
}

form.post-display {
	width: 90%;
	display: inline-block;
}

ul {
	list-style: none;
}

input {
	font-size: 1.5em;
}

form.post-display input[name="author"] {
	width: 30%;
	display: inline-block;
}

form.post-display input[name="content"] {
	width: 80%;
	display: inline-block;
}


.not-saved input {
	background-color: grey;
	color: red;
}

.saved input {
	background-color: transparent;
	color: black;
}

.active-buttons {
	display: inline-block;
}
